# Ignorer les fichiers sensibles
.env

# Ignorer les dépendances
node_modules/

# Ignorer les fichiers de logs
logs/
*.log

# Ignorer les fichiers compilés
dist/
build/

# Ignorer les fichiers de sauvegarde
backend/uploads/